[Desktop Entry]
Icon=biglinux-menu.png
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Kickoff.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-Plasma-RequiredExtensions=LaunchApp

X-KDE-PluginInfo-Authors=Martin Graesslin,Mikel Johnson,Douglas Gabriel
X-KDE-PluginInfo-Emails=plasma-devel@kde.org,mikel5764@gmail.com,dg2003gh@gmail.com
X-KDE-PluginInfo-Name=org.biglinux.appsmenu
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=https://github.com/biglinux/plasma-appsmenu-biglinux
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

Name=BigLinux Application Launcher
Comment=Launcher to start applications

Name=BigLinux Application Launcher
Comment=Launcher to start applications

Name[es]=Lanzador de Aplicaciones de BigLinux
Name[pt_BR]=BigLinux Lançador de aplicativos
Comment[es]=Lanzador para iniciar aplicaciones
Comment[pt_BR]=Lançador para iniciar aplicativos
Name[es]=Lanzador de Aplicaciones de BigLinux
Name[pt_BR]=BigLinux Lançador de aplicativos
Comment[es]=Lanzador para iniciar aplicaciones
Comment[pt_BR]=Lançador para iniciar aplicativos
